@use '../../styles/variables';

.mobile-options {
  width: 95%;
  height: 25%;
  margin: 0 auto;

  background-color: variables.$body-background-color;

  button {
    border-style: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    // min-height: ;
  }

  .mobile-row {
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }
  .row-1 {
    button {
      height: 100%;
      width: 30%;
    }
  }

  .row-2 {
    button {
      height: 100%;
      width: 30%;
    }
  }
}
