body {
  background-color: #252629;
  overflow: hidden;
}

.main {
  width: 99vw;
  height: 90vh;
  margin-top: 10vh;
  background-color: #252629;
  position: relative;
  display: flex;
  justify-content: center;
}

#canvas{
  z-index: 1;
}

#canvas,#BGCanvas {
  position: absolute;
  top: 0;
  left: 50;
}



.pencil {
  cursor: url("./pencil.png"), pointer;
}
.eraser {
  cursor: url("./eraser.png"), pointer;
}

.defaultCursor {
  cursor: default;
}

#tools {
  display: flex;
  flex-direction: column;
  color: white;
}
