body {
  color: rgb(44, 41, 41);
}

.main {
  width: 99vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

#canvas {
  border: 1px solid #333;
}

#drawingCanvas {
  z-index: 1;
}

#backgroundCanvas {
  z-index: 0;
}

.defaultCursor {
  cursor: default;
}

.pen {
  cursor: url(./img/pen2.svg), auto;
}

.eraser {
  cursor: url(./img/eraser.svg), auto;
}

.bucket {
  cursor: url(./img/bucket.svg), auto;
}

#tools {
  display: flex;
}
