
.editor{
  /* width: 99vw;
  height: 90vh;
  margin-top: 200px;
  background-color: #252629;
  position: relative;
  display: flex;
  justify-content: center; */
  width: 100%;
  background-color: #49494b;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  overflow: hidden;
}

#canvas{
    z-index: 1;
  }
  
  #canvas,#BGCanvas {
    position: absolute; /* Position the canvas relative to the outer div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 300px; */
    image-rendering: optimizeSpeed; /* Older browsers */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (Safari) */
    image-rendering: optimize-contrast; /* CSS3 Proposed */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
    image-rendering: pixelated; /* CSS4 (Chrome 41+) and FireFox 49+ */
  }