
.editor{
  /* width: 99vw;
  height: 90vh;
  margin-top: 200px;
  background-color: #252629;
  position: relative;
  display: flex;
  justify-content: center; */
  width: 100%;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas{
    z-index: 1;
    border: 1px solid #111;
  }
  
  #canvas,#BGCanvas {
    position: absolute;
    top: 20;
    left: 90;
    /* margin-left: 300px; */
  }