body{
    margin: 0;
    padding: 0;
    background-color: #252525;
    /* background-color: rgb(233, 233, 233); */
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.mainSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;

}

.editorWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.navbar{
    width: 15%;
    height: 500px;
}

.colorPickerWrapper{
    width: 100%;
    height: 100%;

}

@media screen and (max-width:768px) {
    .mainSection{
        margin-top: 30px;
    }
}
