body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.mainSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;

}

.editorWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.header{
    width: 97%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

.navbar{
    width: 15%;
    height: 500px;
}

.colorPickerWrapper{
    width: 90%;
}

.downloadButton{
    width:10%;
    height: 85%;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #634cb8;
    font-weight: bold;
    cursor: pointer;
}

.downloadButton:hover{
    background-color: #4829b8;
}