.sideBar{
    width: 15%;
    /* background-color: #333; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.teste{
    width: 100%;
    /* background-color: red; */
    height: 100px;
}


