.palettes {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-ite */
  /* display: grid; */
  overflow-y: auto;
  font-size: 14px;

  .palettes-title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .palette {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow-y: auto;
    margin-top: 5px;

    button {
      cursor: pointer;
    }

    .palette-button {
      border-style: none;
      height: 1.5rem;
      border: solid black;
      border-width: 0.1px;

      &:hover {
        border: 2px solid rgb(212, 212, 212);
      }
    }
  }
}

// .selectPaletteWrapper {
//   width: 100%;
// }

// .selectPalette {
//   width: 100%;
//   height: 25px;
//   background-color: #3a3737;
//   color: white;
//   font-family: 'Roboto', sans-serif;
//   border-style: none;
//   border: 1px solid gray;
// }
