.header{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    
}

.innerHeader{
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
}

.drawingNameInput{
    width: 30%;
    height: 50%;
    border-style: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

input:focus{
    outline: none;
    border-bottom: 1px solid gray;
}

.downloadButton{
    width:200px;
    height: 85%;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #5B17DA;
    font-weight: bold;
    cursor: pointer;
}

.downloadButton:hover{
    background-color: #634cb8;
}

@media screen and (max-width: 768px ) {
    
    .downloadButton{
        width: 50%;
    }

}