@use '../styles/variables';

$mobile: 768px;

.modal-backdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal-container {
  background: #fff;
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  width: 700px;
  //   height: 700px;

  .modal-header {
    width: 100%;
    border-bottom: 2px solid rgb(219, 219, 219);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .modal-title {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .modal-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-section {
      width: 100%;
      margin-bottom: 10px;

      .modal-presets {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        row-gap: 5px;

        .modal-presets-item {
          width: 100px;
          height: 50px;
          flex: 2;
          background-color: rgb(38, 55, 80);
          display: flex;
          justify-content: center;
          align-items: center;
          border-style: none;
          color: variables.$secondary-font-color;
        }
      }
    }

    .modal-input {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      margin-bottom: 5px;
      label {
        width: 10%;
      }

      .modal-input-wrapper {
        width: 100%;
        input {
          width: 95%;
          border-style: none;
          border-radius: 2px;
          height: 30px;
          border: 1px solid rgb(192, 190, 190);
        }
      }
    }
  }

  .modal-footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
  }

  button {
    background: rgb(38, 55, 80);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    transition: transform 100ms ease-out;

    &:hover {
      background: rgb(25, 36, 53);
      transform: scale(1.05);
    }

    &:disabled {
      background-color: gray;
      transform: scale(1);
    }
  }
}

@media screen and (max-width: $mobile) {
  .modal-container {
    width: 90%;

    .modal-input {
      flex-direction: column;

      label {
        width: 100%;
      }
    }
  }
}
