.sideBar{
    width: 15%;
    /* background-color: #333; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y:auto;
    background-color: rgb(73, 71, 71);
    /* border: 1px solid gray; */
}



