.toolbar{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    color: white;
    margin-top: 10px;
}

.toolbarItem{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    border: 1px solid #555555;
    background-color: rgb(58, 57, 57);


}


.toolButton{
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(226, 226, 226);
    background-color: transparent;
}

.toolButton:hover{
    background-color: rgb(41, 41, 41);

}

.toolbarButtons{
    width: 100%;
    display: grid;
    row-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.toolbarPenSizes{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.penSizeButton{
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

.penSizeButton:hover{
    color:#634cb8;
}

.toolTitle{
    font-weight: bold;
    font-size: 12px;
    width: 99%;
}

.penSizeSlider {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 150px;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    cursor: grab;
  }

  .penSizeSlider:active{
    cursor: grabbing;
  }
  
  /* Track: webkit browsers */
  .penSizeSlider::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
  }
  
  /* Track: Mozilla Firefox */
  .penSizeSlider::-moz-range-track {
    height: 15px;
    background: #ccc;
  }
  
  /* Thumb: webkit */
  .penSizeSlider::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: black;
    border: 2px solid black;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px black;
  }
  
  
  /* Thumb: Firefox */
  .penSizeSlider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: black;
    border: 1px solid black;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px black;
  }
  

  .penSizeRange{
    display: flex;
  }

  .penSizeValue{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .penSizeWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


@media screen and (max-width:768px) {
    .toolbar{
        flex-direction: column;
        height: 50%;
        width: 100%;
    }

    .toolbarButtons{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
    }
}