@use '../../styles/variables';

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: variables.$body-background-color;
  user-select: none;
  width: 380px;
  height: calc(100vh - 30px);
}

.sidebar-mobile {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 9999999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: variables.$body-background-color;
  margin-top: 5px;
  user-select: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  width: 100%;

  &.open {
    transform: translateX(0);
  }
}

.sidebar-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid #555555;
  border-radius: 3px;
  /* border-radius: 2px; */
  background-color: rgb(77, 77, 77);
}

.sidebar-close-button-mobile {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  button {
    color: white;
    background-color: transparent;
    border-style: none;
    font-weight: bold;
    font-size: 26px;
  }
}
