.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgb(51, 59, 63);
  margin-top: 5px;
  user-select: none;
}

.sidebar-item {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid #555555;
  /* border-radius: 2px; */
  background-color: rgb(77, 77, 77);
}
