body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-y: hidden;
}

.editor{
  /* width: 99vw;
  height: 90vh;
  margin-top: 200px;
  background-color: #252629;
  position: relative;
  display: flex;
  justify-content: center; */
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#canvas{
    z-index: 1;
  }
  
  #canvas,#BGCanvas {
    position: absolute;
    top: 10;
    left: 50;
  }