.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 99vw;
    height: 99vh;
}


.navbar{
    width: 15%;
    height: 500px;
    background-color: purple;
}