body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(46, 46, 51); */
  background-color: rgb(51, 59, 63);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.Slider {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  cursor: grab;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 2px;
  /*  slider progress trick  */
  overflow: hidden;
  margin: 0;
}

.Slider:active {
  cursor: grabbing;
  border-style: none;
  border: 1px solid rgb(20, 20, 20);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3737;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 768px) {
  /* body {
    background-color: #111;
  } */

  .mainSection {
    margin-top: 30px;
  }
}
